dockerfile/spark-3.4.1-bin-hadoop3.tgz
jars/
logs/
metastore_db/
mnt/
osrm-data/
plugins/
trino-data/
venv/
.env
derby.log
airflow/
airflow.cfg
airflow-scheduler
Check
Configuring
Launching
Running
Starting
trino-cli
User
